@media (max-width: 640px) {
    #cc_popup {
        width: 90% !important;
    }

    #bw_popup {
        width: 90% !important;
    }

    #cc_type {
        width: 90% !important;
    }

    #cc_popup {
        width: 90% !important;
    }

    #cc_popup {
        width: 90% !important;
    }

    #cc_popup {
        width: 90% !important;
    }

    #cc_popup {
        width: 90% !important;
    }


}